  <%= render 'pages/about' %>

<div class="container">
<h1 class="main-title" id="crea">Voici les projets auxquels j'ai participé</h1>
    <div class="all-articles">
     <%# <% unless @articles.blank?%>
        <% @articles.each_with_index do |article, index| %>
            <div class="card_<%= index +1 %>">
                    <%# <h5><%= article.title</h5> %>
                <%# <div class="card-body"> %>
                  <%= link_to article_path(article.id) do %>
                    <%= image_tag article.image, crop: :fill%>
                    <%# <a href="<%= article_path(article.id) "><h5><%= article.title </h5></a> %>
                    <% end %>
                <%# </div> %>
            </div>
          <% end %>
          <%# <% end %>
      </div>
</div>

  <%= render template:'contacts/new' %>

