<section class="section-contact" id="contact">
  <h2> Et si nous <strong>discutions ?</strong></h2>

  <div class="formulaire">
    <%= form_for @contact do |f| %>
      <div class="form-bloc">

      <div class="form-group">
        <%= f.label :name %> </br>
        <%= f.text_field  :name, required: true %> </br>
      </div>

      <div class="form-group">
        <%= f.label :email %> </br>
        <%= f.text_field :email, required: true %></br>
      </div>

      <div class="form-group">
        <%= f.label :message %></br>
        <%= f.text_area :message, rows: 8, cols: 40, required: true %></br>
      </div>

        <%# <div class= "d-none">
          <%= f.label :nickname
          <%= f.text_field :nickname, :hint => 'Leave this field blank!'
        </div> %>

      <div class="form-group">
        <%= f.submit 'Envoyer', class: 'button-sub' %>
      </div>

    </div>
  </div>
  <% end %>
</section>
